body {
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e68989;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background: rgba(0, 0, 0, .6);
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #fff;
}

.content input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    padding: .4rem;
    border-bottom: 1px solid #fff;
    width: 50%;
}

.content input::placeholder {
    color: #fff;
}

.content input:focus {
    border-bottom: 1px solid #e44141;
}

button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    cursor: pointer;
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

